<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zhang.feng.com.eatwhat">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 声明使用网络功能的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/eatwhat"
        android:label="吃啥"
        android:roundIcon="@mipmap/eatwhat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".QuestionActivity"></activity>
        <activity android:name=".PersonalCenterActivity" />
        <activity android:name=".RecommendActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".PublishActivity" />
        <!--设置视频只能横向展示-->
        <activity android:name=".VideoPlayActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".ParticularsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MajorActivity" />
        <activity android:name=".EnergyChartView" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- 除了自己和授权的人，其他人都不允许使用FileProvider -->
        <!-- grantUriPermissions用来给其他应用授权，允许它们向你指定的url写入文件 -->
        <!-- 因为用的androidx,所以v4包的声明会报错 -->
        <!-- meta标签让FileProvider能够找到files.xml文件 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bignerdranch.android.criminalintent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>